input, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--bg-color);
  margin-top: 10px;
  font:inherit;
  font-weight: normal;
}

label {
  font-size: 1.1rem;
  font-weight: 500;
  display: block;
  margin-bottom: 20px;
}